.basket-container {
  /* margin-right: 20px;
  margin-left: 20px; */
  box-sizing: border-box;
  width: 90%;
  font-size: 14px;
  margin: 0 auto;
}
.imgBasket {
  width: 85px;
  height: 147px;
  margin-right: 20px;
}
/*splitting into two halves: books on left, summary on the right*/
.item-container {
  width: 100%;
}

.itemInfoBasket {
  line-height: 27px;
  display: inline-block;
  border-bottom: 1px solid #e7e7e7;
  width: 62.5%;
  float: left;
  margin-bottom: 20px;
}

.summaryBasket {
  display: inline-block;
  width: 32.5%;
  margin-left: 5%;
}
/**/

.imgBasket {
  float: left;
  padding-bottom: 20px;
}

.deleteBasket,
.totalPriceItem {
  float: right;
}

.totalPriceItem,
.orderValue,
.totalSum {
  display: flex;
  align-items: center;
}

.itemTextBasket {
  width: 100%;
}

.summaryTitle,
.deliveryLine {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.orderValue,
.deliveryFee,
.totalSum {
  float: right;
}

.totalSumLine {
  margin-top: 20px;
}

.orderValueLine {
  padding-top: 10px;
}

.eurIcon {
  margin-right: 3px;
}

.qtySpan,
.itemPriceBasket {
  margin-left: 10px;
}

.orderValueDelivery {
  line-height: 27px;
}

#titleBasket {
  font-weight: bold;
}

/* ADJUST width for responsiveness */
.emptyBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 219px 0 219px;
  width: 280%;
  /* text-align: center; */
}

#emptyBasketBtn {
  width: 226px;
  height: 45px;
  background-color: #ee6423;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 20px;
}

#checkoutBtn {
  width: 100%;
  margin-top: 20px;
  background-color: #ee6423;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
}

/* make button's height bigger for phones*/

@media screen and (max-width: 485px) {
  #checkoutBtn {
    height: 50px;
  }
}
