.titleItemPage {
  font-size: 24px;
}

.authorItemPage {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.descriptionItemPage {
  margin-top: 10px;
  font-size: 14px;
}

.deliveryInfo,
.dispatchInfo {
  font-size: 14px;
}

.itemBtn {
  width: 95%;
  height: 45px;
  background-color: #82d943;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 auto;
}

.itemBtn {
  background-color: #8abf3b;
}
.priceItemPage {
  color: #ee6423;
  font-size: 24px;
}

#truckIcon,
#dispatchIcon {
  font-size: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .infoItemPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .descriptionMobile {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 20px 20px 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .titleItemPage {
    font-size: 18px;
    font-weight: 1000;
    text-align: center;
  }

  .authorItemPage {
    text-align: center;
    order: 2;
  }

  .imgItemPage {
    order: 1;
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .priceAndBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .deliveryInfo,
  .dispatchInfo {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .priceItemPage {
    width: 100%;
    text-align: center;
  }

  .priceItemPage {
    font-size: 25px;
  }
  .descriptionItemPage {
    display: none;
  }

  .itemBtn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2559px) {
  .containerItemPage {
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
    box-sizing: border-box;
  }
  .descriptionMobile {
    display: none;
  }
  .infoItemPage {
    display: flex;
    width: 70%;
  }

  .imgItemPage {
    min-width: 260px;
    min-height: 400px;
  }
  .priceAndBtn {
    width: 30%;
  }

  .authorTitleDescriptionBox {
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
  }

  .dispatchInfo,
  .deliveryInfo,
  .itemBtn {
    margin-top: 15px;
  }
}

@media screen and (min-width: 2560px) {
  .containerItemPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2.5%;
    box-sizing: border-box;
  }
  .descriptionMobile {
    display: none;
  }
  .infoItemPage {
    display: flex;
    width: 50%;
  }

  .imgItemPage {
    width: 50%;
    min-width: 550px;
  }

  /* .imgMainPage {
    min-width: 400px;
    min-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  /* img {
    min-width: 80%;
    min-height: 60%;
  } */
  .priceAndBtn {
    width: 30%;
  }

  .authorTitleDescriptionBox {
    width: 70%;
    margin-right: 5%;
    overflow-wrap: break-word;
  }

  .dispatchInfo,
  .deliveryInfo,
  .itemBtn {
    margin-top: 15px;
  }

  .itemBtn {
    height: 70px;
  }
}
