.addBtn {
  background-color: #ee6423;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  height: 35px;
}

.addBtn:hover {
  background-color: #ff6c25;
}

.link:hover {
  text-decoration: none;
}

.item-info {
  color: black;
}

.item-info:hover {
  color: black;
}

.item-info {
  inline-size: 200px;
  overflow-wrap: break-word;
  text-decoration: none;
}

.itemTitle {
  height: 45px;
  padding-top: 10px;
  font-weight: bold;
}
.itemTitle:hover {
  text-decoration: underline;
}
.itemAuthor {
  margin-top: 10px;
  color: #4d4d4d;
}

.itemPrice {
  font-size: 17px;
  color: red;
}

/* smaller smaprtphones*/
@media screen and (max-width: 480px) {
  .mainPage-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container-item {
    width: 80%;
  }
  .imgMainPage {
    width: 150px;
    height: 225px;
  }
}

/* smaprtphones*/
@media screen and (max-width: 767px) {
  .mainPage-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
  }

  .imgMainPage {
    width: 150px;
    height: 225px;
  }
}

/*smaller desktop viewpoints and up*/
@media screen and (min-width: 768px) {
  .mainPage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
  }

  .imgMainPage {
    width: 200px;
    height: 275px;
  }
}
