header {
  box-sizing: border-box;
}

.navBar-container {
  display: flex;
  height: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  background-color: #6273d9;
  font-size: 15px;
  overflow: hidden;
  padding-top: 15px;
}

.navBar-item {
  display: flex;
  color: white;
  align-items: flex-center;
}

.navBar-item:hover {
  color: white;
}

.icon,
.iconBooks {
  font-size: 20px;
  align-self: center;
}

.icon {
  margin-right: 20px;
}

.iconBooks {
  margin-left: 20px;
}

#noItems {
  margin-right: 10px;
}

#bookStore {
  margin-left: 10px;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .navBar-container {
    margin-bottom: 20px;
  }

  .icon {
    margin-right: 10px;
  }

  .iconBooks {
    margin-left: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .navBar-container {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1450px) {
  .navBar-container {
    /* height: 150px; */
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1451px) and (max-width: 1900px) {
  .navBar-container {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1900px) {
  .navBar-container {
    height: 70px;
    font-size: 17px;
    margin-bottom: 70px;
  }

  .icon,
  .iconBooks {
    font-size: 23px;
    align-self: center;
  }

  .icon {
    margin-right: 40px;
  }

  .iconBooks {
    margin-left: 40px;
  }

  #bookStore {
    margin-left: 10px;
  }
}
