* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: verdana;
  min-height: 100vh;
}

.navBar-container {
  display: flex;
  justify-content: flex-end;
  min-width: 800px;
  background-color: pink;
  margin-bottom: 30px;
}

.home {
  margin-right: auto;
  padding-left: 10px;
}

.mainPage-container {
  display: flex;
  justify-content: space-evenly;
}
.container-item {
  float: right;
  padding-left: 8px;
  padding-right: 8px;
}

img {
  width: 200px;
  height: 275px;
}
