* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

.navBar-container {
  display: flex;
  justify-content: flex-end;
  min-width: 800px;
  background-color: pink;
}

.home {
  margin-right: auto;
  padding-left: 10px;
}
