* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* .navBar-container {
  display: flex;
  justify-content: flex-end;
  min-width: 800px;
  background-color: pink;
  margin-bottom: 30px;
}

.home {
  margin-right: auto;
  padding-left: 10px;
}

.mainPage-container {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 200px;
  height: 275px;
}

.itemImg {
  float: left;
}

#labelSelect {
  margin-right: 10px;
}

.bookInTheCart {
  margin-top: 20px;
} */
